recursive-include kryptoflow/*.py
include kryptoflow/template/*
include kryptoflow/template/kafka/*
include kryptoflow/template/kafka/logs/*
include kryptoflow/template/kafka/schemas/*
include kryptoflow/template/backups/*
include kryptoflow/template/supervisor/*
include kryptoflow/template/dist/*
include kryptoflow/template/dist/assets/*
include kryptoflow/template/kryptoflow/*
recursive-include requirements *.txt