tweepy
ws4py
praw
pandas
git+git://github.com/Supervisor/supervisor
git+git://github.com/danpaquin/gdax-python
nltk
tweet-preprocessor==0.5.0
confluent-kafka==0.11.0
avro-python3==1.8.2
tensorflow
scikit-learn
flask
flask-cors
sortedcontainers
