# Add requirements only needed for your unittests and during development here.
# They will be installed automatically when running `python setup.py test`.
# ATTENTION: Don't remove pytest-cov and pytest as they are needed.
tweepy
ws4py
praw
pandas
git+git://github.com/Supervisor/supervisor
git+git://github.com/danpaquin/gdax-python
nltk
tweet-preprocessor==0.5.0
tensorflow
scikit-learn
sortedcontainers
kafka-tfrx
pytest
pytest-cov
pytest-runner